*{
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;

    }



body{
    background-color: #ccc;
    background-image: url(../img/scattered-forcefields.svg);
    background-position: center;
    background-size: contain;
    
    
}

#stickyheader{
    position: sticky;
    top: 0;
    z-index: 99;
}
#header{
    border-bottom: 1px solid #8e8699;
    background-color: #fff;
    box-shadow: #7631de 1px 3px 10px;
}
#header #logo img{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 15px;
}
#header .togglemenu , #header #togglemenu span{
    display: none;
}
#header ul{
    margin: 0;
    height: 100px;
    align-items: center;
    list-style: none;
}
#header ul li{
    padding: 0;
}
#header ul li a{
    width: 100%;
    text-align: center;
    display: block;
    color: #32155e;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
/*     font-family: 'Lobster', cursive;
 */    font-family: 'Readex Pro', sans-serif;

}
#header ul li ::after{
    content: '';
    display: block;
    background-color: #32155e;
    width: 0%;
    height: 2px;
    margin: auto;
    transition: 0.5s;
    
}
#header ul li :hover::after{
    width: 60%;
    transition: 0.3s;

}
#header ul li:nth-child(3) {
    padding: 0;

}
#header ul li:nth-child(3):hover img {
    transform: scale(1.1);
    background-origin: padding-box;
    border: 8px solid #32155e;
    transition: 0.2s;

}
#header ul li:nth-child(3) ::after{
    width: 0%;


}

#header ul li:nth-child(3) :hover::after{
    width: 0%;

}
#header ul li img{
    width: 75px;
    height: 75px;
    border: 2px solid #32155e;
    margin: 0 auto;
    border-radius:50% ;
    cursor: pointer;
    background-color: #32155e;
    transition: 0.2s;
    display: block;
}








#content {
    padding: 30px ;
    position: relative;
    border: 0px solid #7430dd;
    box-shadow: #7430dd 0 5px 10px 1px;
    transition: 0,3s;
    
    

}
#content #contentback{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    background-image: url(../img/a00cc210244ee0c8cd79e2a28b3a10fb.jpg);
    background-color: #000;
    background-blend-mode:screen;
    background-position:center;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.5;
}


#content  h3{
    font-weight: 400;
    font-size: 32px;
    width: fit-content;
    margin: 10px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.856);




}
#content .TikTok{
    color:#000;
    
}
#content .Instagram{
    color: #933cb7;
}
#content .Twitter{
    color: #1ea1f2;
}
#content .Youtube{
    color: #ff0000;
}



#content form {
    width: 90%;
    margin: 20px auto;
    
}
#content form input[type=text]{
    width: 100%;
    padding: 10px;
    display: block;
    padding-left: 28px;
    margin: 15px auto;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #4c4b4d;
    border-radius: 15px;
    color: #32155e;
}
#content form input[type=text]:focus{
    outline: 1px solid #7430dd;
}
#content form input[type=submit]{
    width: 150px;
    padding: 10px;
    display: inline;

    margin: 5px auto;
    border: 1px solid #ffd146;
    background-color: #f8d22b;
    color: #fff;
    font-weight: 400;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;

}
#content form input[type=submit]:hover{
    background-color: #d4ae04;
    border-color: #d4ae04;
    color: #fff;
    transform: scale(0.9);
    transition: 0.3s;

}
#content form #inputicon{
    color: #7e7e7e;
    left: 8%;
    position: absolute;
    top: 22%;

}


#content form a{
    display: block;
    text-decoration: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0.856);
    width: fit-content;
    padding: 3px;
    font-size: 17px;
    font-weight: 500;
    margin: 5px auto;
    transition: 0.1s;


}
#content form a:hover{
    transition: 0.1s;

    color: #d4ae04;

}
#content #platforms{
    margin-top: 20px;
}
#content #platforms h4{
    color: #000;
    font-weight: 500;
    font-size: 32px;
    /* margin-bottom: 20px; */
    padding: 7px;
    margin: 15px auto;
    cursor: context-menu;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.856);

    
}

#content #platforms ul{
    align-items: center;
    list-style: none;
    border-radius: 15px;
/*     background-color: rgba(255, 255, 255, 0.856);
 */}



#content #platforms #list:nth-child(1) .card:hover .card-body{
    box-shadow: #000 0px 0px 10px 2px;
    border-color: #000;

    transition: 0.3s;

} 
#content #platforms #list:nth-child(1) .card:hover .card-header{
    box-shadow: #000 0px 0px 10px 2px;
    border-color: #000;

    transition: 0.3s;

} 
#content #platforms #list:nth-child(1) .card:hover img{
    opacity: 0.9;
    transition: 0.3s;
} 
#content #platforms #list:nth-child(2) .card:hover .card-body{
    box-shadow: #933cb7 0px 0px 10px 2px;
    border-color: #933cb7;

    transition: 0.3s;

} 
#content #platforms #list:nth-child(2) .card:hover .card-header{
    box-shadow: #933cb7 0px 0px 10px 2px;
    border-color: #933cb7;
    transition: 0.3s;

} 
#content #platforms #list:nth-child(2) .card:hover img{
    opacity: 0.9;
    transition: 0.3s;
} 
#content #platforms #list:nth-child(3) .card:hover .card-body{
    box-shadow: #1ea1f2 0px 0px 10px 2px;
    border-color: #1ea1f2;
    transition: 0.3s;

} 
#content #platforms #list:nth-child(3) .card:hover .card-header{
    box-shadow: #1ea1f2 0px 0px 10px 2px;
    border-color: #1ea1f2;

    transition: 0.3s;

} 
#content #platforms #list:nth-child(3) .card:hover img{
    opacity: 0.9;
    transition: 0.3s;
} 
#content #platforms #list:nth-child(4) .card:hover .card-body{
    box-shadow: #ff0000 0px 0px 10px 2px;
    border-color: #ff0000;
    transition: 0.3s;

} 
#content #platforms #list:nth-child(4) .card:hover .card-header{
    box-shadow: #ff0000 0px 0px 10px 2px;
    transition: 0.3s;
    border-color: #ff0000;
    

} 
#content #platforms #list:nth-child(4) .card:hover img{
    opacity: 0.9;
    transition: 0.3s;
} 



#list .card{
    border: 0px solid #7430dd; 
    height: 180px;
    width: 80%;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto;

}
#list .card-header{
    border-bottom: 0px ;
    height: 130px;
    width: 100%;
    height: 180px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    padding: 0;
    transition: 0.2s;
    border: 0px solid #fff;
    
}
#list .card-header img{
    width: 100%;
    opacity: 0.5;

    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
    
    border-bottom: 0px;
    transition: 0.2s;
    

}
#content #platforms ul .active .card-header img{
    opacity: 1;
}
#list:nth-child(1) .card-header{
    background-color: #000;
    border: 3px solid #000;
}
#list:nth-child(1) .card-header img{
    border: 3px solid #000;

}
#list:nth-child(2) .card-header{
    background-color: #933cb7;
}
#list:nth-child(3) .card-header{
    background-color: #1ea1f2 ;
}
#list:nth-child(4) .card-header{
    background-color: #ff0000;
    padding-top: 15px;
}
#list:nth-child(4) .card-header img{
    height: 100px;
}

#list:nth-child(1) .card-body{
    border-color: #000;
    
}
#list:nth-child(2) .card-body{
    border-color: #933cb7;
}
#list:nth-child(3) .card-body{
    border-color: #1ea1f2 ;
}
#list:nth-child(4) .card-body{
    border-color: #ff0000;
}



#list .card-body{
    border: 1px solid #97949c; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 24px;
    font-family: 'Readex Pro', sans-serif;
    border-top: 0px ;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
    transition: 0.2s;
    height: 70px;
    padding : 5px;
    

}

#moreapps{
    padding: 30px ;
    border: 1px solid #7430dd;
    border-radius: 20px;
    box-shadow: #7430dd 0 5px 10px 1px;
    transition: 0,3s;
    background-color: #fff;
    margin-bottom: 10px;

}
#moreapps h1{
    color: #7430dd;
    font-weight: 300;
}
#moreapps p{
    color: #ddd;
}
#moreapps #feature .ribbon{
    width: 50px;
    height: 20px;
    position: absolute;
    top: 0px;
    text-align: left;
    right: 0px;
    
    
    
}



#moreapps #feature .ribbon span{
    position: absolute;
    display: block;
    width: 60px;
    font-size: 16px;
    padding-left: 3px ;
    text-align: left;
    text-align: left;
    transition: 0.3s;
    background-color: #32155eb7;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 7px;
    color: #7631de;
    align-items: baseline;
}
#moreapps #feature:nth-child(1) .ribbon span{
    background-color: #da4186;
    color:#fbeaf1;

}
#moreapps #feature:nth-child(2) .ribbon span{
    background-color: #1877f2;
    color: #e7f1fe;





}
#moreapps #feature:nth-child(3) .ribbon span{
    background-color: #52d2c4;
    color: #edfaf9;

}
#moreapps #feature:nth-child(4) .ribbon span{
    background-color: #d0b82d;
    color: #faf8ea;

}
#moreapps #feature:nth-child(5) .ribbon span{
    background-color: #00acee;
    color: #e5f7fd;

}
#moreapps #feature:nth-child(6) .ribbon span{
    background-color: #a152d2;
    color: #f5edfa;

}
#moreapps #feature:nth-child(7) .ribbon span{
    background-color: #11ad48;
    color: #eff8e7;
}
#moreapps #feature:nth-child(8) .ribbon span{
    background-color: #cc181e;
    color: #fae7e8;

}
#moreapps #feature:nth-child(9) .ribbon span{
    background-color: #ff7919;
    color: #fff1e8;

}
#moreapps #feature:nth-child(10) .ribbon span{
    background-color: #2aa393;
    color: #e9f6f4;

}
#moreapps #feature:nth-child(11) .ribbon span{
    background-color: #ee1d52;
    color: #d9f2f3;

}
#moreapps #feature:nth-child(12) .ribbon span{
    background-color: #37b1ad;
    color: #fff8e6;
}
#moreapps #feature:nth-child(13) .ribbon span{
    background-color: #3e536e;
    color: #ecedf4;


}
#moreapps  #feature .ribbon span{
    color: #3e536e;

}



#moreapps #feature{
    height: 80px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.1s;
    
}
#moreapps #feature:hover{
    background-color: #eee;
    transition: 0.4s;


}
#moreapps #feature:hover .ribbon span{
    width: 80px;
    transition: 0.4s;
}

#moreapps #feature a{
    text-decoration: none;
    width: 100%;
    height: 100%;    
}
#moreapps #feature a #feature-inner{
    width: 100%;
    height: 100%;
    cursor: context-menu;

}
#moreapps #feature a #feature-inner #feature-icon{
    text-align: center;
}
#moreapps #feature a #feature-inner #feature-icon svg{
    padding: 5px;
    height: 40px;
    margin-top: 20px;
    margin-left: -10px;
    border-radius: 10px;
    width: 40px;
    background-color: #fff;
}

#moreapps #feature a #feature-inner #feature-content h2{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 300;
}
#moreapps #feature a #feature-inner #feature-content p{
    color: #32155e;
    font-size: 14px;

}
#moreapps #feature:nth-child(1) a #feature-inner #feature-content h2{
    color: #da4186;

}
#moreapps #feature:nth-child(2) a #feature-inner #feature-content h2{
    color: #1877f2;

}
#moreapps #feature:nth-child(3) a #feature-inner #feature-content h2{
    color: #52d2c4;

}
#moreapps #feature:nth-child(4) a #feature-inner #feature-content h2{
    color: #d0b82d;

}
#moreapps #feature:nth-child(5) a #feature-inner #feature-content h2{
    color: #00acee;

}
#moreapps #feature:nth-child(6) a #feature-inner #feature-content h2{
    color: #a152d2;

}
#moreapps #feature:nth-child(7) a #feature-inner #feature-content h2{
    color: #11ad48;

}
#moreapps #feature:nth-child(8) a #feature-inner #feature-content h2{
    color: #cc181e;

}
#moreapps #feature:nth-child(9) a #feature-inner #feature-content h2{
    color: #ff7919;

}
#moreapps #feature:nth-child(10) a #feature-inner #feature-content h2{
    color: #2aa393;

}
#moreapps #feature:nth-child(11) a #feature-inner #feature-content h2{
    color: #ee1d52;

}
#moreapps #feature:nth-child(12) a #feature-inner #feature-content h2{
    color: #37b1ad;

}
#moreapps #feature:nth-child(13) a #feature-inner #feature-content h2{
    color: #3e536e;

}
#moreapps #feature:nth-child(1) a #feature-inner #feature-icon svg  {
    color: #da4186;
    background-color: #fbeaf1;

}
#moreapps #feature:nth-child(2) a #feature-inner #feature-icon svg  {
    color: #1877f2;
    background-color: #e7f1fe;

}
#moreapps #feature:nth-child(3) a #feature-inner #feature-icon svg  {
    color: #52d2c4;
    background-color: #edfaf9;

}
#moreapps #feature:nth-child(4) a #feature-inner #feature-icon svg  {
    color: #d0b82d;
    background-color: #faf8ea;

}
#moreapps #feature:nth-child(5) a #feature-inner #feature-icon svg  {
    color: #00acee;
    background-color: #e5f7fd;

}
#moreapps #feature:nth-child(6) a #feature-inner #feature-icon svg  {
    color: #a152d2;
    background-color: #f5edfa;

}
#moreapps #feature:nth-child(7) a #feature-inner #feature-icon svg  {
    color: #11ad48;
    background-color: #eff8e7;

}
#moreapps #feature:nth-child(8) a #feature-inner #feature-icon svg  {
    color: #cc181e;
    background-color: #fae7e8;

}
#moreapps #feature:nth-child(9) a #feature-inner #feature-icon svg  {
    color: #ff7919;
    background-color: #fff1e8;

}
#moreapps #feature:nth-child(10) a #feature-inner #feature-icon svg  {
    color: #2aa393;
    background-color: #e9f6f4;

}
#moreapps #feature:nth-child(11) a #feature-inner #feature-icon svg  {
    color: #ee1d52;
    background-color: #d9f2f3;

}
#moreapps #feature:nth-child(12) a #feature-inner #feature-icon svg  {
    color: #37b1ad;
    background-color: #fff8e6;

}
#moreapps #feature:nth-child(13) a #feature-inner #feature-icon svg  {
    color: #3e536e;
    background-color: #ecedf4;
}





#aboutus h2 span:nth-child(1){
    color: #ffd146;
    font-family: 'Readex Pro', sans-serif;

}
#aboutus{
    background-color: rgba(238, 238, 238, 0.747);
    border: 1px solid #7430dd;
    box-shadow: #7430dd 0 5px 10px 1px;
    border-radius: 5px;
}
#aboutus h2 span:nth-child(2){
    color: #7430dd;
    font-family: 'Readex Pro', sans-serif;
}

#aboutus p{

    padding-left: 40px;
}
#aboutus p a {
    color: #ffd146;
}

#footer p {
    color: #aaa;
    font-size: 14px;
}
#footer h5{
    font-weight: 600;
}

#footer a{
    color: #32155e;
    font-size: 14px;
}
#footer .social-links a{
    text-decoration: none;
}
#footer .social-links a svg{
    width: 30px ;
    height: 30px;
    margin: 0 10px;
}

@media screen and (max-width : 1200px)  {
    #list .card{
        height: 180px;
        width: 100%;


    }
    #list .card-header{
        height: 130px;
    }
    #list .card-header img{
        height: 130px;
    }
    #list .card-body{
        height: 50px;
        font-size: 22px;
        padding: 5px;
    }
    #content form #inputicon{
        left: 9%;
    }
    
}


@media screen and (max-width : 992px)  {
    #header .togglemenu{
        
        display: none;
    }
    #list .card{
        height: 160px;
        width: 55%;
        margin: 10px auto;
    }
    #list .card-header{
        height: 120px;
    }
    #list .card-header img{
        height: 120px;
    }
    #list .card-body{
        height: 40px;
        font-size: 22px;
    }
    #list:nth-child(4) .card-header{
        padding-top: 10px;
    }
    #content form #inputicon{
        top: 16.5% ;
        left: 10%;
    }
    
}

@media screen and (max-width : 768px){
    #header .togglemenu{
        
        display: none;
    }
    #aboutus h2{
        font-size: 22px;
        padding-top: 10px;
        padding-left: 10px;
    }
    #list .card{
        height: 160px;
        width: 70%;
        margin: 10px auto;
    }
    #content form #inputicon{
        top: 16.5% ;
        left: 11%;
    }
    
    
}
@media screen and (max-width : 576px){
    #header{
        z-index: 99;
        
    }
    #header #logo img{
        float: left;
    }
    #header #navlinks{
        position: absolute;
        left: 0;
        bottom: 0px;
        z-index: -1;
        width: 100%;
        background-color: #7631de;
        color: #32155e;

        transition: 0.1s;
    }
    
    #header #togglemenu{
        position: absolute;
        left: 85%;
        top: 35px;
        font-size: 38px;
        display: block;
        font-weight: 500;
        color: #4928dd;
        
        transform: rotate(0);
        transition: 0.3s;
        cursor: pointer;
        border: 0px solid #fee400;
    }
    #header #togglemenu span{
        display: block;
        transition: 0.3s;
        cursor: pointer;
        outline: 0px solid #000;


    }
    
    #list:nth-child(1) .card{
        float: left;
    }
    #list:nth-child(2) .card{
        position:absolute;
        left: 60%;
        top: -170px;
    }
    #list:nth-child(3) .card{
        float: left;

    }
    #list:nth-child(4) .card{
        float: right;
        position:absolute;
        left: 60%;
        top: -170px;
        
    }
    #list:nth-child(4) .card .card-header{
        padding-top: 15px;
    }
    #list:nth-child(4) .card .card-header img{
        height: 100%;
    }
    #list .card{
        border: 0px solid #7430dd; 
        height: 160px;
        width: 35%;
        margin: 5px auto;
        
    
    }
    #list .card .card-header{
        height: 110px;
    }
    #list .card .card-header img{
        height: 110px;
    }
    
    
    
   
    #list .card-body{
        border: 1px solid #97949c; 
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 20px;
        height: 50px;

        
    
    }
    #content form #inputicon{
        top: 17% ;
        left: 12%;
    }
    

}

@media screen and (max-width : 444px){
    #content form #inputicon{
        top: 17% ;
        left: 13%;
    }
}
@media screen and (max-width : 320px){
    #content form #inputicon{
        display: none;
    }
    #content form input[type=text]{
        padding-left: 2px;
        width: 100%;
    }
    #list .card{
        width: 70%;
    }
    
    #list:nth-child(1) .card{
        float: none;
        margin-top: 10px;
    }
    #list:nth-child(2) .card{
        position:relative;
        left: 0;
        top: 0;
    }
    #list:nth-child(3) .card{
        float: none;

    }
    #list:nth-child(4) .card{
        float: none;
        position:relative;
        left: 0;
        top: 0;
        
    }
}

/* showpost page */
#showpost #contentback{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    background-image: url(../img/a00cc210244ee0c8cd79e2a28b3a10fb.jpg);
    background-color: #000;
    background-blend-mode:screen;
    background-position:center;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.5;
}
#showpost{
    padding: 30px ;
    position: relative;
    border: 0px solid #7430dd;
    box-shadow: #7430dd 0 5px 10px 1px;
    margin-top: 10px;
}
#showpost #post{
    width: 80%;
    margin: 5px auto;
    border: 1px solid #7430dd;
    border-radius: 10px;
    background-color: #fff;

}
#showpost #postinfo{
    width: 80%;
    margin: 5px auto;
}
#showpost #postinfo h4{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.582);

}
#showpost table{
    width: 80%;
    margin: 5px auto;
    border: 1px solid #687abe;
    background-color: #fff;

}
#showpost table thead{
    border: 1px solid #687abe;
    background-color: #000;
    

}
#showpost table thead th{
    color: #fff;
}
#showpost table thead th:first-child{
    width: 20%;
    padding: 5px;
    border-right: 1px solid #687abe;
    color: #fff;
}
#showpost table tr:nth-child(even) {
    background-color: #687abe;
    color: #fff;
}
#showpost table tr td{
    border-right: 1px solid #687abe;
    padding: 5px;
    font-size: 16px;
}
#showpost table tr:nth-child(even) td {
        border-right: 1px solid #fff;

}


/* register page */

#register {
    background-color: transparent;
}
#register img{
    height: 120px;

}
#register h1{
    display: inline-block;
}
#register #registerabout{
    border: 0px solid #000;
    
}
#register #registerabout h1{
    margin-top: 35%;
    font-size: 52px; 
    color: #ffd146;
    font-weight: 600;
}
#register #registerabout h2 {
    font-size: 38px;
    background-color: #fff;
}
#register #registerabout h2 span{
    font-size: 28px;
}
#register #login{
    background-color: rgba(204, 204, 204, 0.404);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y:visible;

}
#register #signin{
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;

    
}
#register #signin form {
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
}

#register #signin form input {
    display: block;
    margin: 8px auto;
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffd146;
}
#register #signin form input:focus{
    outline-width: 0;
    
}

#register #signin form input[type=submit]{
    width: 25%;
    background-color: #ffd146;
    transition: 0.4s;
    cursor: pointer;
    font-size: 16px;
    border-width: 1px;
}
#register #signin form input[type=submit]:hover{
    background-color: #ff7919;
    border-color: #ff7919;
    color: #fff;
    transform: scale(0.9);
    transition: 0.4s;
}

#register #signin form .input-group{
    display: inline-block;
    width: 70%;
}
#register #signin form .input-group input{
    display: inline;
    width: 100%;
    transition: 0.2s;
}
#register #signin form .input-group input:focus{
    outline: 0px solid #ffd146;
    z-index: 0;
    transition: 0.1s;
}
#register #signin form .input-group input:focus  .input-group-text{
    border: 4px solid #000;
    z-index: 99;
}
#register #signin form .input-group .input-group-text{
    border: 0px solid #000;
    position: absolute;
    top: 30%;
    cursor: pointer;
    background-color: transparent;
    right: 4%;
    padding: 3px;
}

#register #signin button{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    top: 0;
}


#register #signin button span {
    font: 1.2em;
}
#register #signin button:hover span{
    text-decoration: underline;

}
#register #signin button:focus{
    outline-width: 0;
}
#register #signup{
    text-align: center;
    width: 100%;
    position: relative;
    top: 0;
    left: -700px;
    transition: 0.3s;


}
#register #signup form {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}
#register #signup form input {
    display: inline;
    margin: 8px auto;
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffd146;
}
#register #signup form input:focus{
    outline-width: 0;
    
}

#register #signup form input[type=submit]{
    width: 25%;
    background-color: #ffd146;
    transition: 0.4s;
    display: block;
    cursor: pointer;
    font-size: 16px;
    border-width: 1px;
}
#register #signup form input[type=submit]:hover{
    background-color: #ff7919;
    border-color: #ff7919;
    color: #fff;
    transform: scale(0.9);
    transition: 0.4s;
}
#register #signup form .input-group{
    display: inline-block;
    width: 40%;
}
#register #signup form .input-group input{
    display: inline;
    width: 100%;
    z-index: 0;


}
#register #signup form .input-group input:focus{
    outline-width: 0;
}
#register #signup form .input-group input:focus  .input-group-text{
    border: 4px solid #000;
    z-index: 99;
}
#register #signup form .input-group  .input-group-text{
    border: 0px solid #000;
    position: absolute;
    top: 30%;
    cursor: pointer;
    background-color: transparent;
    right: 4%;
    padding: 3px;
}


#register #signup button{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    top: 0;
}


#register #signup button span {
    font: 1.2em;
}
#register #signup button:hover span{
    text-decoration: underline;

}
#register #signup button:focus{
    outline-width: 0;
}
#register #externallogin{
    border: 0px solid #000;
    margin-bottom: 7px;
}
#register #externallogin span{
    border: 1px solid #ffd146;
    background-color: #ffd146;
    color: #fff;
    width:30px;
    text-align: center;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    padding: 1px;
    font-weight: 600;
    margin-bottom: 7px;
}
#register #externallogin #links{
    width: 50%;
    margin: 0 auto;
    border: 0px solid red;
    padding: 0;
    margin-bottom: 30px;

}
#register #externallogin #links #linkcard{
    border-radius: 10px;
    margin: 3px auto;
    height: 60px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    

}
#register #externallogin #links #linkcard:hover{
    transform: scale(0.9);
    transition: 0.3s;
}
#register #externallogin #links #linkcard div{
    font-size: 16px;
}
#register #externallogin #links #linkcard div svg{
    width: 30px;
    height: 50px;
    position: relative;
    margin-top: 5px;
    
}
#register #externallogin #links #linkcard div:nth-child(2){
    padding-top: 18px;
    color: #fff;
    font-weight: 500;
    padding-left: 0;
    


}
#register #externallogin #links #linkcard div:nth-child(1){
    padding-top: 0px ;
}

#register #externallogin #links #linkcard:nth-child(1) {
    background-color: #ea4335;
    

}
#register #externallogin #links #linkcard:nth-child(2){
    background-color: #000;
}
#register #externallogin #links #linkcard:nth-child(3){
    background-color: #3b5998;
    
} 


@media screen and (max-width : 992px) {
    #register #externallogin #links{
        width: 70%;
    }    
}
@media screen and (max-width : 768px){
    #register #registerabout h1{
        font-size: 20px;
        margin-top: 0;
        
    }
    #register #registerabout h2{
        font-size: 18px;
    }
    #register #registerabout h2 span{
        font-size: 16px;

    }
}
@media screen and (max-width : 340px){
    #register #externallogin #links{
        width: 90%;
    }  
}


/* Dashboard page */

#sidemenu{
    background-color: #687abe;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.4s;
    
}


#sidemenu #dashboard-profile{
    border-bottom: 2px solid #fff;
    height: 110px;
}
#sidemenu #dashboard-profile a {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#687abe ;
    text-decoration: none;

}
#sidemenu #dashboard-profile img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    transition: 0.4s;
    border: 2px solid #495685;

}
#sidemenu #dashboard-profile img:hover{
    border-width: 8px;
    transform: scale(1.1);
    background-origin: padding-box;
    transition: 0.2s;
}

#sidemenu #dashboard-profile button{
    background-color: transparent;
    border-width: 0px;
    color: #32155e;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 500;
}
#sidemenu #dashboard-profile p{
    font-family: 'Readex Pro', sans-serif;
    color: #fff;
    margin: 30px auto;

}
#sidemenu #dashboard-links {
    list-style: none;
    
    
}
#sidemenu #dashboard-links li{
    border-bottom: 3px solid #495685;
    
}

#sidemenu #dashboard-links li #dashboard h3{
    padding-left: 0;
    text-align: left;

}



#sidemenu #dashboard-links .active {
    background-color: #00acee;
    transition: 0.3s;
}
#sidemenu #dashboard-links .active div {
    background-color: #00acee;
    overflow: hidden;
    height: 50px;
    padding-bottom: 10px;
    transition: 0.3s;
}
#sidemenu #dashboard-links li div{
    overflow: hidden;
    height: 50px;
    padding-bottom: 10px;  
    color: #fff; 
}

#sidemenu #dashboard-links li h3{
    height: 50px;
    padding-top: 8px;
    padding-left: 10px;
    margin: 0 auto;
}
#sidemenu #dashboard-links li h3 span{
    font-weight: 600;
    cursor: pointer;
    padding-left: 5px;
    /* transform: rotate(45deg); */
    transition: 0.3s;
    position: relative;
    display: inline-block;
    top: 2px;
}

#sidemenu #dashboard-links li a{
    text-decoration: none;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    border: 0px solid #fff;
    cursor: pointer;
    
}
#sidemenu #dashboard-links li a svg{
    width: 40px;
    border: 0px solid #fff;
    margin-top: 0;
    padding: 6px 4px;
    height: 40px;
    

}

#sidemenu #dashboard-links li a h4{
    border: 0px solid #fff;
    margin-top: 4px;
    text-align: left;

}


#dashboard-header{
    height: 50px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: #687abe 0 3px 3px;
    position: sticky;
    top: 0;
    right: 0;
}
#dashboard-header div {
    height: 50px;
}
#dashboard-header #togglemenu{
    text-align: center;
    display: none;
}
#dashboard-header #togglemenu svg{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    cursor: pointer;;
    transition: 0.4s;
    background-color: #fff;
    fill: #000;
    border-radius: 3px;
}
#dashboard-header #togglemenu svg:hover{
    background-color: #000;
    fill: #fff;
    transition: 0.4s;
}
#dashboard-header h2{
    margin-top: 5px;
    color: #ff7919;
}
#dashboard-header .input-group{
    height: 40px;
    margin-top: 4px;
    border: 0px solid #7631de;
}

#dashboard-header .input-group input{
    background-color: #fff;
}
#dashboard-header .input-group input:focus{
    z-index: 0;
}
#dashboard-header .input-group input:focus .input-group-text{
    z-index: 99;
}
#dashboard-header .input-group .input-group-text{
    position: relative;
    right: 50px;
    border: 1px solid transparent;
}

#dashboard-header a {
    height: 50px;
    text-decoration: none;
    color: #495685;
    text-align: center;
}
#dashboard-header a svg{
    width: 25px;
    height: 25px;
    margin-top: 8px;

}
#dashboard-header button{
    height: 50px;
    text-decoration: none;
    color: #495685;
    text-align: center;
    background-color: #fff;
    margin-top: -1px;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    background-origin:border;
    

}
#dashboard-header button:focus{
    outline-width: 0px;
}

#dashboard-header button svg{
    width: 25px;
    height: 25px;
    margin-top: 7px;
}

#dashboard-header  #setting {
    width: 100%;
    position: relative;
    top: -500px;
    padding: 0;
    transition: 0.2s;
    z-index: -1;
    
}
#dashboard-header  #setting ul{
    list-style: none;
    background-color: #495685;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    


}
#dashboard-header  #setting ul li{
    height: 50px;


    
}
#dashboard-header  #setting ul li button{
    background-color: #495685;
    border: 1px solid #495685;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 80%;
    height: 100%;
    


}
#dashboard-header  #setting ul li button svg{
    fill: #fff;
    cursor: pointer;
}
#dashboard-header  #setting ul li button img{
    height: 28px;
    width: 28px;

    border: 1px solid #fff;
    border-radius: 50% ;
    
    transition: 0.2s;


}
#dashboard-header #setting  ul li button:hover img{
    border-width: 3px;
    transform: scale(1.1);
    
    transition: 0.2s;
}


@media screen and (max-width : 1200px){
    #sidemenu #dashboard-profile p{
        font-size: 14px;
    }
    #sidemenu #dashboard-links li h3{
        font-size: 24px;
    }
}
@media screen and (max-width : 992px){
    #sidemenu #dashboard-profile p{
        font-size: 16px;
    }
    #sidemenu {
        position: absolute;
        top: 50px;
        left: -900px;
        
        z-index: 99;
    }

    #dashboard-header #togglemenu{
        display: block;
    }
    #sidemenu #dashboard-links li #dashboard h3{
        text-align: left;
        
        
    }
    
}
@media screen and (max-width : 768px){
    #dashboard-header h2{
        font-size: 28px;
        width: 150%;


    }
}
@media screen and (max-width : 576px){
    #dashboard-header .input-group input{
        display: none;
        position: relative;
        top: 45px;
        border-radius: 10px;
        background-color: #495685;
        color:#fff;
        transition: 0.4s;
    }
    #dashboard-header h2{
        font-size: 24px;
        width: 200%;
        padding-top: 4px;
    }
    
    #dashboard-header .input-group{
    }
    #dashboard-header .input-group .input-group-text{
        right: 10%;
        top:0px;
        position: absolute;

    }
    #dashboard-header .input-group .input-group-text svg {
        width: 25px;
        height: 25px;
        background-color: #fff;
        fill: #495685;
        cursor: pointer;
        padding: 0;
    }

}
@media screen and (max-width : 406px){
    #dashboard-header h2{
        font-size: 24px;
    }
    #dashboard-header  #setting {
        width: 180%;
        left: -20px;    
    }

}


/* dash-allpackage page */

#allpackages{
    text-align: center;
    margin-top: 25px;
}
#allpackages h3{
    font-size: 30px;
    font-weight: 600;
    color: #ff7919;
    padding: 5px;
}
#allpackages p{
    color: #495685;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    font-family: 'Readex Pro', sans-serif;
    padding: 3px;
}
#allpackages p a{
    color: #495685;
}

#allpackages table{
    width: 80%;
    margin: 5px auto;
    border: 1px solid #687abe;
    background-color: #fff;

}
#allpackages table thead{
    border: 1px solid #687abe;
    background-color: #000;
    

}
#allpackages table thead th{
    width: 20%;
    padding: 5px;
    border-right: 1px solid #687abe;
    color: #fff;
}
#allpackages table tr:nth-child(even) {
    background-color: #687abe;
    color: #fff;
}
#allpackages table tr td{
    border-right: 1px solid #687abe;
    padding: 5px;
    font-size: 16px;
}
#allpackages table tr:nth-child(even) td {
        border-right: 1px solid #fff;

}
#allpackages table tr td button{
    background-color: transparent;
    border-width: 0px;
    width: 47%;
    height: 100%;
    padding-top: 5px;
    display: inline-block;
    cursor: pointer;
}

#allpackages table tr td button svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #687abe;

}
#allpackages table tr:nth-child(even) td button svg {
    fill: #fff;
}


/* dash-addpackage */

#addpackages{
    text-align: center;
    margin-top: 25px;

    }
#addpackages h3{
    font-size: 30px;
    font-weight: 600;
    color: #ff7919;
    padding: 5px;
}
#addpackages p{
    color: #495685;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
    padding: 3px;
    background-color: #fff;

}
#addpackages p a{
    color: #495685;

}
/* #addpackages div{
    width: 0%;
    margin: 3px auto;
    border: 1px solid #000;

} */


#addpackages  form{
    width: 80%;
    margin: 3px auto;
    text-align: center;
    background-color: #687bbe15;
    
    border-radius: 15px;
    padding: 10px;


}
#addpackages  form div{
    margin-top: 15px ;

}
#addpackages  form div div{
    text-align: center;
}
#addpackages  form select {
    display: block;
    width: 50%;
    border: 1px solid #000;
    margin: 20px auto;
}
#addpackages  form h4{
    color: #687abe;
}
#addpackages  form input{
    margin : 1px auto;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #fff;
    background-color: #ffd146;
    font-size: 18px;


    
}
#addpackages  form input:focus{
    outline-width: 0;
}
#addpackages  form select {
    display: block;
    width: 80%;
    border: 1px solid #687abe;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffd146;
    color: #687abe;
    height: 38px;
    font-size: 18px;
}
#addpackages  form select:focus{
    outline-width: 0;
}
#addpackages  form select option{
    padding: 55px;
    background-color: #ffd146;
    color: #687abe;
}

#addpackages  form input[type=submit]{
    width: 40%;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.2s;
    background-color: #687abe;
    color: #ffd146;
    


}
#addpackages  form input[type=submit]:hover{
    transform: scale( 0.9);
    transition: 0.2s;
    background-color: #ffd146;
    color: #fff;
}

/* dash-allspecial page */

#allspecial{
    text-align: center;
    margin-top: 25px;
}


#allspecial h3{
    font-size: 30px;
    font-weight: 600;
    color: #ff7919;
    padding: 5px;
}
#allspecial p{
    color: #495685;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    font-family: 'Readex Pro', sans-serif;
    padding: 3px;
}
#allspecial p a{
    color: #495685;
}
#allspecial table{
    width: 80%;
    margin: 5px auto;
    border: 1px solid #687abe;
    background-color: #fff;

}
#allspecial table thead{
    border: 1px solid #687abe;
    background-color: #000;
    

}
#allspecial table thead th{
    width: 20%;
    padding: 5px;
    border-right: 1px solid #687abe;
    color: #fff;
}
#allspecial table tr:nth-child(even) {
    background-color: #687abe;
    color: #fff;
}
#allspecial table tr td{
    border-right: 1px solid #687abe;
    padding: 5px;
    font-size: 16px;
}
#allspecial table tr:nth-child(even) td {
        border-right: 1px solid #fff;

}
#allspecial table tr td button{
    background-color: transparent;
    border-width: 0px;
    width: 47%;
    height: 100%;
    padding-top: 5px;
    display: inline-block;
    cursor: pointer;
}

#allspecial table tr td button svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #687abe;

}
#allspecial table tr:nth-child(even) td button svg {
    fill: #fff;
}

/* dash-addspecial page */
#addspecial{
    text-align: center;
    margin-top: 25px;

    }
#addspecial h3{
    font-size: 30px;
    font-weight: 600;
    color: #ff7919;
    padding: 5px;
}
#addspecial p{
    color: #495685;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
    padding: 3px;
    background-color: #fff;

}
#addspecial p a{
    color: #495685;

}



#addspecial  form{
    width: 80%;
    margin: 3px auto;
    text-align: center;
    background-color: #687bbe15;
    
    border-radius: 15px;
    padding: 10px;


}
#addspecial  form div{
    margin-top: 15px ;

}
#addspecial  form div div{
    text-align: center;
}

#addspecial  form h4{
    color: #687abe;
}
#addspecial  form input{
    margin : 1px auto;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #fff;
    background-color: #ffd146;
    font-size: 18px;


    
}
#addspecial  form input:focus{
    outline-width: 0;
}


#addspecial  form input[type=submit]{
    width: 40%;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.2s;
    background-color: #687abe;
    color: #ffd146;
    


}
#addspecial  form input[type=submit]:hover{
    transform: scale( 0.9);
    transition: 0.2s;
    background-color: #ffd146;
    color: #fff;
}

/* dash-allregular page */

#allregular{
    text-align: center;
    margin-top: 25px;
}


#allregular h3{
    font-size: 30px;
    font-weight: 600;
    color: #ff7919;
    padding: 5px;
}
#allregular p{
    color: #495685;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    font-family: 'Readex Pro', sans-serif;
    padding: 3px;
}
#allregular p a{
    color: #495685;
}
#allregular table{
    width: 80%;
    margin: 5px auto;
    border: 1px solid #687abe;
    background-color: #fff;

}
#allregular table thead{
    border: 1px solid #687abe;
    background-color: #000;
    

}
#allregular table thead th{
    width: 20%;
    padding: 5px;
    border-right: 1px solid #687abe;
    color: #fff;
}
#allregular table tr:nth-child(even) {
    background-color: #687abe;
    color: #fff;
}
#allregular table tr td{
    border-right: 1px solid #687abe;
    padding: 5px;
    font-size: 16px;
}
#allregular table tr:nth-child(even) td {
        border-right: 1px solid #fff;

}
#allregular table tr td button{
    background-color: transparent;
    border-width: 0px;
    width: 47%;
    height: 100%;
    padding-top: 5px;
    display: inline-block;
    cursor: pointer;
}

#allregular table tr td button svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #687abe;

}
#allregular table tr:nth-child(even) td button svg {
    fill: #fff;
}

/* dash-addregular page */
#addregular{
    text-align: center;
    margin-top: 25px;

    }
#addregular h3{
    font-size: 30px;
    font-weight: 600;
    color: #ff7919;
    padding: 5px;
}
#addregular p{
    color: #495685;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
    padding: 3px;
    background-color: #fff;

}
#addregular p a{
    color: #495685;

}



#addregular  form{
    width: 80%;
    margin: 3px auto;
    text-align: center;
    background-color: #687bbe15;
    
    border-radius: 15px;
    padding: 10px;


}
#addregular  form div{
    margin-top: 15px ;

}
#addregular  form div div{
    text-align: center;
}

#addregular  form h4{
    color: #687abe;
}
#addregular  form input{
    margin : 1px auto;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #fff;
    background-color: #ffd146;
    font-size: 18px;


    
}
#addregular  form input:focus{
    outline-width: 0;
}


#addregular  form input[type=submit]{
    width: 40%;
    margin: 10px auto;
    cursor: pointer;
    transition: 0.2s;
    background-color: #687abe;
    color: #ffd146;
    


}
#addregular  form input[type=submit]:hover{
    transform: scale( 0.9);
    transition: 0.2s;
    background-color: #ffd146;
    color: #fff;
}

/* dash-game1 page */
#game1{
    text-align: center;
    margin:  25px auto;
    overflow: auto;    
    }
#game1 h2{
    font-size: 30px;
    font-weight: 600;
    color: #ff7919;
    padding: 5px;
}
#game1 p{
    color: #495685;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
    padding: 3px;
    background-color: #fff;

}
#game1 p a{
    color: #495685;

}

#game1 table{
    width: 80%;
    margin: 5px auto;
    border: 1px solid #687abe;
    background-color: #fff;

}
#game1 table thead{
    border: 1px solid #687abe;
    background-color: #000;
    

}
#game1 table thead th{
    width: 20%;
    padding: 5px;
    border-right: 1px solid #687abe;
    color: #fff;
}
#game1 table tr:nth-child(even) {
    background-color: #687abe;
    color: #fff;
}
#game1 table tr td{
    border-right: 1px solid #687abe;
    padding: 5px;
    font-size: 16px;
}
#game1 table tr:nth-child(even) td {
        border-right: 1px solid #fff;

}
#game1 table tr td a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
#game1 table tr:nth-child(even) td a{
    color: #fff;

}


/* dash-gamedetail page */
#gamedetail{
    text-align: center;
    margin:  25px auto;
    overflow: auto;    
    }
#gamedetail h2{
    font-size: 30px;
    font-weight: 600;
    color: #ff7919;
    padding: 5px;
}
#gamedetail p{
    color: #495685;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Readex Pro', sans-serif;
    padding: 3px;
    background-color: #fff;

}
#gamedetail p a{
    color: #495685;

}

#gamedetail table{
    width: 80%;
    margin: 5px auto;
    border: 1px solid #687abe;
    background-color: #fff;

}
#gamedetail table thead{
    border: 1px solid #687abe;
    background-color: #000;
    

}
#gamedetail table thead th{
    width: 20%;
    padding: 5px;
    border-right: 1px solid #687abe;
    color: #fff;
}
#gamedetail table tr:nth-child(even) {
    background-color: #687abe;
    color: #fff;
}
#gamedetail table tr td{
    border-right: 1px solid #687abe;
    padding: 5px;
    font-size: 16px;
}
#gamedetail table tr:nth-child(even) td {
        border-right: 1px solid #fff;

}




